@font-face {
    font-family: 'IntroScript';
    src: url(/assets/fonts/IntroScript.otf) format('opentype');
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header{
    padding: 0px 60px;
    display: flex;

    background-color: #330645;
}

nav{
    width: 100%;
    overflow: hidden;
    display: flex;
    
    justify-content:space-between;
    align-items: center;
}

.logo{
    margin: 0;
    float: left;

    font-size:20px;
    font-weight: 700;

    color: white;
}

.header-right{
    float: right;
}

ul{
    display: flex;
    gap: 20px;

    list-style: none;
}

a{
    font-size: 14px;
    font-weight: 450;
    color: white;
    text-decoration: none;
}

.page-section{
    display: grid;
    /* background-color: grey; */
}

/* Hero */
.hero-section{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;
}

#hero-text{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    flex-direction: column;
}

#hero-overlay{
    display: flex;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#hero-title{
    margin: 0;
    position: relative;
    color: white;
    /* background-color: aqua; */
    font-size: 5rem;
    font-weight: 700;
    font-family: 'IntroScript';
}

#hero-subtitle{
    margin: 0.3rem 1rem 8rem 1rem;
    position: relative;
    color: white;

    text-align: center;
    line-height: 1.5;;
    
    font-size: 16px;
    font-weight: 400;
}

#hero-button{
    width: 12rem;
    height: 2.7rem;

    font-size: 16px;
    font-weight: 700;

    box-shadow: 2px 2px 0px #a80070;
    border: none;
    border-radius: 25px;
    transition: all 0.25s ease;

    color: #f2f2f2;
    background-color: #121212;
}

#hero-button:hover{
    cursor: pointer;

    background-color: #f2f2f2;
    color: #121212;
}

.hero-section img{
    position: relative;
    height: 100%;
    width: 100%;

    object-fit: cover;

    z-index: -1;
}

/* Recommendation */
.recommendation-section{
    display: flex;
    height: 100vh;
    background-color: #4a0466;
}

/* Form */
.form-section{
    /* background-color: orange; */
}