@font-face {
    font-family: 'IntroScript';
    src: url(/assets/fonts/IntroScript.otf) format('opentype');
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ================================
   HEADER SECTION
================================ */

header{
    padding: 0px 60px;
    display: flex;

    background-color: #330645;
}

nav{
    width: 100%;
    overflow: hidden;
    display: flex;
    
    justify-content:space-between;
    align-items: center;
}

.logo{
    margin: 0;
    float: left;

    font-size:20px;
    font-weight: 700;

    color: white;
}

.header-right{
    float: right;
}

ul{
    display: flex;
    gap: 20px;

    list-style: none;
}

a{
    font-size: 14px;
    font-weight: 450;
    color: white;
    text-decoration: none;
}

.page-section{
    display: grid;
    /* background-color: grey; */
}

/* ================================
   HERO SECTION
================================ */

.hero-section{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;
}

#hero-text{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    /* text-shadow: 6px 6px black; */
    text-shadow: black 1px 0 10px;

    flex-direction: column;
    z-index: 3;
}

#hero-image{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

#hero-overlay{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

#hero-title{
    margin: 0;
    position: relative;
    color: white;
    /* background-color: aqua; */
    font-size: 5rem;
    font-weight: 700;
    font-family: 'IntroScript';
    z-index: 3;
}

#hero-subtitle{
    margin: 0.3rem 1rem 8rem 1rem;
    position: relative;
    color: white;

    text-align: center;
    line-height: 1.5;;

    font-size: 16px;
    font-weight: 400;
    z-index: 3;
}

#hero-image-slide-title{
    position: absolute;
    color: white;
    margin: 5px;

    right: 20px;
    bottom: 20px;

    font-size: 14px;
    font-weight: 400;
    z-index: 3;
}

#hero-button{
    width: 12rem;
    height: 2.7rem;

    font-size: 16px;
    font-weight: 700;

    box-shadow: 2px 2px 0px #a80070;
    border: none;
    border-radius: 25px;
    transition: all 0.25s ease;

    color: #f2f2f2;
    background-color: #121212;
    z-index: 3;
}

#hero-button:hover{
    cursor: pointer;

    background-color: #f2f2f2;
    color: #121212;
}

.hero-section img{
    position: relative;
    height: 100%;
    width: 100%;

    object-fit: cover;

    z-index: 0;
}

#hero-image-container{
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 1;
}

#hero-image-container-2{
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 0;
}

#hero-image-1{
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

#hero-image-2{
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

/* ================================
   RECOMMENDATION SECTION
================================ */
.recommendation-section{
    display: flex;
    height: 100vh;
    background-color: #4a0466;
}

/* ================================
   FORM SECTION
================================ */
.form-section{
    /* background-color: orange; */
}

/* ================================
   ANIMATION SECTION
================================ */

@keyframes fadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOutAnimation {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes slideAnimation {
    from {object-position: center 35%;}
    to {object-position: center 45%;}
}

.fade-in{
    animation: fadeInAnimation 0.5s forwards;
}

.fade-out{
    animation: fadeOutAnimation 0.5s forwards;
}

.slide{
    animation: slideAnimation 6s linear forwards;
}